on:
 push:
  branches:
   - main

jobs:
 build_and_deploy:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout Code
    uses: actions/checkout@v5
     
  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_PASSWORD }}

  - name: Build and push
    uses: docker/build-push-action@v6
    with:
     context: .
     push: true
     tags: ${{ secrets.DOCKER_USERNAME }}/react-app:latest

  - name : "ssh Into the system"
    run : |
      echo "${{ secrets.BASE64_KEY }}" >> key.pem.b64
      base64 --decode key.pem.b64 > key.pem
      chmod 600 key.pem   
       ssh -i key.pem -o StrictHostKeyChecking=no ${{ secrets.USERNAME }}@${{ secrets.HOST }}
     
