on:
 push:
  branches:
   - main

jobs:
 build_and_deploy:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout Code
    uses: actions/checkout@v5
    with:
     path: main
     
  - name: Login to Docker Hub
    uses: docker/login-action@v3
    with:
      username: ${{ secrets.DOCKER_USERNAME }}
      password: ${{ secrets.DOCKER_PASSWORD }}

  - name: Build and push
    uses: docker/build-push-action@v6
    with:
     context: .
     push: true
     tags: react-app:latest
     
