on:
 push:
  branches:
   - main

jobs:
 build_and_deploy:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout Code
    uses: actions/checkout@v5

  - name: Run Snyk to check for vulnerabilities
    uses: snyk/actions/node@master
    env:
     SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
    with:
      command: test
     
